* {

    margin: 0;
    padding: 0;
}

.wrapperRealatedProduct {
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
    max-width: 1079.19px;
    padding: 10px 0 32px;
}

.wrapperRealatedProduct h2 {
    font-size: 30px;
    line-height: 33.6px;
    margin-bottom: 24px;
    color: #333333;
    padding-left: 16px;
    margin: 0 0 8px;
}

.realatedProductItems {
    display: flex;
}

.wrapperRealatedProductItems {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding-left: 16px;
    overflow: hidden;
    height: 130px;
    width: 67%;
}

.realatedProduct {
    border: 1px solid #ccc;
    height: 128px;
    width: 128px;
    margin-right: 48px;
}

.realatedProduct img {
    width: 100%;
}

{
    width: 130px;
    flex-grow: 1;
}

.moreRealatedProduct {
    border: 1px solid #00B2A5;
    text-align: center;
    height: 130px;
    width: 130px;
    line-height: 130px;
}

.moreRealated a {
    text-decoration: none;
    color: #00B2A5;
}







/*Productview*/

.wrapperProductview {
    background-color: #E8E8E8;
    font-family: 'Roboto', sans-serif;
}

.productView {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    max-width: 1079.19px;
    margin: 0 auto;
    justify-content: space-between;
}


.detailsImage {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.detailsImage span {
    font-size: 32px;
    height: 64px;
    width: 64px;
    line-height: 64px;
    border: 1px solid #E8E8E8;
    text-align: center;
}

.detailsImage img {
    box-sizing: border-box;
    border: 1px solid #cccccc;
    height: 64px;
    width: 64px;
    margin-bottom: 10px;
}

.detailsImage img:hover,
.detailsImage span:hover {
    border: 1px solid #00B2A5;
}

.detailsImageProduct {
    max-width: 550px;
}

.imageProduct {
    max-width: 100%;
}







/*hideScrollBar*/

.productViewSiderbar {
    padding-top: 28px;
    padding-right: 16px;
    width: 28%;
    text-align: left;
    box-sizing: border-box;
}

.productViewSiderbar p {
    font-size: 18px;
    padding-bottom: 3px;
    color: #333;
}

.productViewSiderbar .star i {
    padding: 7px 0;
    font-size: 12px;
    text-decoration: none;
    opacity: 0.8;
    color: #333;
}

.userLink {
    color: #00B2A5;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

.hideScrollbar {
    display: flex;
    flex-wrap: wrap;
    padding-top: 15px;
}

.itemsColor {
    padding: 5px 10px 5px 0;
}

.Wrapper {
    height: 28px;
    width: 28px;
    border-radius: 100%;
}

.color img {
    box-sizing: border-box;
    height: 28px;
    width: 28px;
    border-radius: 100%;
}

.color:hover {
    box-shadow: 0 0 0 1px #009E94;
}

.sizeProduct {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
}

.itemsSize {
    padding: 5px 10px 5px 0;
}

.itemsSize a {
    text-decoration: none;
    font-size: 14px;
    color: #000;
}

.size {
    height: 28px;
    width: 30px;
    text-align: center;
    background-color: #fff;
    color: #333;
    border: 1px solid #ccc;
    line-height: 28px;
    font-size: 12.8px;
    border-radius: 5px;
}

.size:hover {
    background-color: #fff;
    border: 1px solid #00B2A5;
    color: #00B2A5;
}

.changeProduct {
    padding: 24px 0;
    width: 100%;
    box-sizing: border-box;
}

.changed {
    font-size: 14.4px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background-color: #fff;
    box-sizing: border-box;
    border: 1px solid #000;
    border-radius: 4px;
    font-weight: 700;
}

.priceProduct {
    padding: 10px 0 0;
    text-align: center;
}

.priceProductsmall {
    display: none;
}

.priceProduct .delivery {
    font-size: 11px;
    opacity: 0.6;
}

.priceProduct .price {
    font-size: 28px;
    font-weight: 700;
    opacity: 0.8;
}

.changed:hover {
    border: 2px solid #000;
}

.shoppingCart {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: #00B2A5;
    box-sizing: border-box;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    color: #fff
}

.shoppingCart:hover {
    background-color: #009e94;
}

.shareAndFavorite {
    margin: 30px 0;
    display: flex;
    justify-content: center;
}

.addToFavorite {
    padding-right: 15px;
}

.sharing {
    padding-left: 15px;
}

.shareAndFavorite span {
    font-size: 14px;
    opacity: 0.8;
}

.shareAndFavorite i {
    font-size: 20px;
    opacity: 0.8;
}









/*previewProductType*/

.previewProductType {
    position: relative;
    font-family: "Montserrat", sans-serif;
    max-width: 1079.19px;
    margin: 0 auto;
    padding: 16px 0;
}

.previewProductType h2 {
    font-size: 30px;
    line-height: 33.6px;
    color: #333333;
    padding-left: 16px;
    margin: 0 0 8px;
}

.itemsPreview {
    display: flex;
    justify-content: center;
    text-align: center;
}

.department {
    font-family: "Roboto", sans-serif;
    padding: 0 14px;
    opacity: 0.8;
    font-weight: 300;
    border-bottom: 1px solid #ccc;
}

.department i {
    height: 28px;
    padding-right: 5px;
    font-size: 30px;
}

.department span {
    display: block;
    float: right;
    font-size: 14.4px;
    font-weight: 400;
    line-height: 36px;
}

.department:hover {
    color: #009e94;
}

.itemsDepartment {
    color: #009e94;
    border-bottom: 2px solid #00B2A5;
}

.previewWrapper {
    padding: 20px 64px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.previewWrapper img {
    max-width: 100%;
    padding-bottom: 8px;
}

.itemsPreviewProductWrapper {
    width: 99%;
    display: flex;
    justify-content: space-between;
    max-height: 280px;
}

.itemsPreviewProduct {
    width: 20%;
    box-sizing: border-box;
    border: 1px solid #fff;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 12px;
    padding-bottom: 8px;
}

.namePreviewProduct {
    padding-bottom: 8px;
    font-size: 14.4px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.pricePreviewProduct {
    font-size: 14.4px;
    font-weight: 100;
    padding-bottom: 8px;
}

.pricePreviewProduct i {
    font-size: 14px;
    opacity: 0.8;
}

.starPreviewProduct i {
    font-size: 14px;
    opacity: 0.8;
    height: 14px;
    color: #fff;
}

.itemsPreviewProduct:hover {
    border: 1px solid #ccc;
}

.itemsPreviewProduct:hover>.starPreviewProduct i {
    color: #333333;
}

.arrowleft {
    position: absolute;
    left: 16px;
    font-size: 55px;
    color: #ccc;
    font-weight: 100;
}

.arrowright {
    position: absolute;
    right: 16px;
    font-size: 55px;
    color: #00B2A5;
    font-weight: 100;
}








/*productDetails*/

.productDetails {
    max-width: 1079.19px;
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    font-family: "Montserrat", sans-serif;
}

.productTypeInfoBox {
    padding: 16px 16px 0 0;
    width: 50%;
}

.detailsBox {
    padding: 16px 16px 0;
    width: 50%;
}

.productDetails h2 {
    font-size: 30px;
    color: #333333;
    padding-top: 10px;
    line-height: 28px;
}

.productDetails h3 {
    font-size: 22px;
    color: #333333;
    padding-top: 25px;
}

.productTypeInfoBox span,
.productTypeInfoBox i {
    font-size: 14px;
    opacity: 0.8;
    padding: 5px 0;
}

.productTypeInfoBox p,
.productTypeInfoBox ul {
    font-size: 16px;
    color: #333333;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.32px;
    padding-top: 8px;
}

.productTypeInfoBox ul {
    padding-left: 16px;
}

.detailsBox img {
    width: 25%;
}

.table-head {
    color: rgb(65, 50, 49);
}

.table-head td {
    font-size: 12px;
    padding: 14.4px 6px;
}

.table-inch td {
    font-size: 12px;
    padding: 14.4px 6px;
    background-color: #b3b3b3;
    text-align: center;
}

.even td {
    font-size: 12px;
    padding: 14.4px 6px;
    background-color: #ccc;
    text-align: center;
}







/*designDetailsPanel*/

.designDetailsPanel {
    max-width: 1079.19px;
    font-family: "Montserrat", sans-serif;
    margin: 0 auto;
}

.designDetails h2 {
    font-size: 28px;
    line-height: 33.6px;
    margin: 40px 0 24px;
    color: #333333;
}

.designDetails {
    padding: 0 16px;
}

.designDetailsFlex {

    display: flex;
    align-items: flex-start;
}

.descriptionWolf {
    width: 40%;
    display: flex;
    align-items: flex-start;
}

.descriptionWolf img {
    max-width: 250px;
    width: 40%;

    vertical-align: top;
}

.wolf {
    padding: 0 16px 16px;
    width: 60%;
    box-sizing: border-box;
}

.wolfTitle {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: 0.32px;
    color: #333;
}

.wolfDescription,
.wolfTags {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
    line-height: 24px;
    color: #333;
}

.reportDesign {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.32px;
    line-height: 24px;
    color: #00B2A5;
}

.descriptionDesigner {
    padding: 0 20.8px;
    box-sizing: border-box;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.descriptionDesigner img {
    box-sizing: border-box;
    display: inline-block;
    width: 15%;
    margin-bottom: 20.8px;
}

.designer {
    box-sizing: border-box;
    width: 53%;
    padding-left: 12px;
}

.designer h3 {
    font-size: 22px;
    font-weight: 700;
    height: 26px;
    line-height: 26.4px;
    letter-spacing: 0.32px;
    margin-bottom: 4.4px;
}

.designer p {
    box-sizing: border-box;
    font-size: 16px;
    color: #00B2A5;
    font-weight: 700;
    height: 24px;
    line-height: 24px;
    letter-spacing: 0.32px;
    margin-bottom: 4.4px;
}

.countryDesign {
    font-family: "Roboto", sans-serif;
    float: right;
    font-size: 16px;
    width: 30%;
    color: #333;
    letter-spacing: 0.32px;
    padding-right: 8px;
}

.wrapperMoreDesignsScroll {
    max-width: 1079.19px;
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
}

.titleMoreDesign h2 {
    font-size: 24px;
    height: 26px;
    line-height: 26.4px;
    color: #333;
    letter-spacing: 0.32px;
    margin: 40px 0 24px;
    padding: 0 16px;
}

.titleMoreDesign a {
    color: #00B2A5;
    text-decoration: none;
}

.moreDesign {
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    padding: 0 64px;
}

.itemsMoreDesign {
    width: 20%;
    padding: 0 12px;
}

.itemsMoreDesign img {
    max-width: 100%;
}

.arrowleftMoreDesign {
    position: absolute;
    left: 16px;
    font-size: 60px;
}

.arrowrightMoreDesign {
    position: absolute;
    color: #00B2A5;
    right: 16px;
    font-size: 60px;
}

.relatedTag {
    max-width: 1079.19px;
    margin: 0 auto;
    margin-top: 28px;
}

.relatedTag h2 {
    padding: 16px 16px 0;
    margin-bottom: 10px;
}

.relatedTag .tag {
    padding: 0 16px 16px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.relatedTag .tag a {
    font-family: "Roboto", sans-serif;
    margin-bottom: 16px;
    margin-right: 16px;
    padding: 8px;
    color: #333;
    text-decoration: none;
    background-color: #e8e8e8;
    font-size: 14px;
    line-height: 19.6px;
    letter-spacing: 0.32px;
}


/*footerContent*/

.footerContent {
    background-color: #F9F9F9;
    font-family: "Montserrat", sans-serif;
}

.footerContentWrapper {
    max-width: 1079.19px;
    margin: 0 auto;
    padding-top: 21px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #8c8c8c;
    padding-bottom: 20px;
}

.footerContentWrapper h3 {
    font-size: 18px;
    letter-spacing: 0.28px;
    line-height: 23.4px;
    margin-bottom: 9px;
}

.footer-col14 {
    width: 33.3%;
    padding: 0 16px;
}

.footer-col14 p {
    color: #737373;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.28px;
    padding-bottom: 7px;
}

.footer-col14 span {
    color: #737373;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.28px;
    padding-bottom: 7px;
}

.footer-col14 input {
    font-size: 14px;
    padding: 0 7px;
    line-height: 35px;
    outline: none;
    border: 1px solid #ccc;
    margin-bottom: 7px;
}

.subscribe {
    font-size: 14px;
    color: #fff;
    padding: 0 7px;
    line-height: 35px;
    outline: none;
    border: 1px solid #00B2A5;
    background-color: #00B2A5;
    margin-left: -6px;
}

.footer-col24 {
    width: 25%;
    padding: 0 12px;
    font-size: 14px;
    letter-spacing: 0.28px;
    line-height: 26.5px;
}

.service {
    display: flex;
    flex-direction: column;
}

.service a {
    margin: 5px 0;
    text-decoration: none;
    font-size: 14px;
    color: #8c8c8c;
    ;
}

.service i {
    width: 20px;
    text-align: center;
}

.last {
    padding-left: 24px;
}

.footer-col34 {
    width: 20%;
    padding: 0 12px;
}

.footer-col34 li {
    list-style-type: none;
    margin: 5px 0;
    font-size: 14px;
    letter-spacing: 0.28px;
    line-height: 26.5px;
}

.footer-col34 a {
    text-decoration: none;
    color: #8c8c8c;
}

.footer-col44 {
    width: 22%;
}

.footer-col44 a {
    text-decoration: none;
    font-size: 14px;
    letter-spacing: 0.28px;
    line-height: 26.5px;
    color: #8c8c8c;
}

.footer-col44 i {
    width: 22px;
    text-align: center;
}

.footerText {
    max-width: 1079.19px;
    margin: 0 auto;
    padding: 20px 0;
    text-align: center;
    font-size: 14px;
    line-height: 19.6px;
    font-weight: 500;
    color: #8c8c8c;
}

.footerText a {
    text-decoration: none;
    color: #00B2A5;
}

.footerText a:hover {
    text-decoration: underline;
}






@media (min-width: 1700px) {
    .wrapperRealatedProduct,
    .previewProductType,
    .productDetails,
    .designDetailsPanel,
    .wrapperMoreDesignsScroll,
    .relatedTag {
        max-width: 1700px!important;
        margin: 0 auto;
        padding: 32px 10%;
    }
    .wrapperRealatedProduct {
        max-width: 1700px!important;
        margin: 0 auto;
        padding: 32px 10%;
    }
    .productView {
        max-width: 1700px;
        margin: 0 auto;
        display: flex;
        justify-content: flex-start;
    }

    .detailsImage,
    .detailsImageProduct {
        padding-right: 10%;
    }
    .detailsImageProduct {
        max-width: 700px;
    }
    .productViewSiderbar {
        padding-top: 28px;
        width: 20%;
        text-align: left;
        box-sizing: border-box;
    }
}

@media (min-width: 992px) and (max-width:1200px) {}

@media (min-width: 768px) and (max-width:992px) {}

@media (min-width: 544px) and (max-width:768px) {
    .wrapperRealatedProduct {
        display: none;
    }
    .detailsImage {
        display: none;
    }
    .productView {
        display: flex;
        flex-direction: column;
    }
    .detailsImageProduct {
        width: 100%;
    }
    .productViewSiderbar {
        width: 100%;
        text-align: center;
        background-color: #fff;
        position: relative;
    }
    .hideScrollbar {
        justify-content: center;
    }
    .Wrapper,
    .Wrapper img {
        height: 40px;
        width: 40px;
    }
    .sizeProduct {
        justify-content: center;
    }
    .size {

        padding: 8px;
        font-size: 16px;
        font-weight: 400;
        width: 28px;
        height: 25px;
    }

    .changeProduct {
        display: none;
    }
    .priceProductsmall {
        display: inline-block;
        text-align: center;
    }
    .priceProduct {
        display: none;
    }
    .pricesmall {
        font-size: 20px;
    }
    .productViewSiderbar p {
        font-size: 16px;
    }
    .productViewSiderbar .star {

        font-size: 15px;
    }

    .userLink {
        font-size: 16px;
        text-decoration: none;
    }

    .hideScrollbar {

        padding-top: 10px;
    }
    .deliverysmall {
        font-size: 10px!important;
        color: #737373;
    }
    .shareAndFavorite {
        width: 100%;
        display: flex;
        justify-content: space-between!important;
    }
    .addToFavorite {

        padding-left: 20%;
        padding-right: 5px;
    }
    .sharing {
        padding-right: 20%;
        padding-left: 5px;
    }
    .previewProduct h2 {
        font-size: 26px;
    }

    .productDetails {
        flex-wrap: wrap;
    }
    .productTypeInfoBox {
        width: 100%;
    }
    .detailsBox {
        width: 100%;
    }
    .detailsBox img {
        width: 50%;
    }
    .table-head tr {
         display: table-cell;
    }
    .detailsBoxTable table{
    	width: 100%;
    	text-align: center;
    }
}


@media (min-width: 400px) and (max-width:544px) {
    .wrapperRealatedProduct {
        display: none;
    }
    .detailsImage {
        display: none;
    }
    .productView {
        display: flex;
        flex-direction: column;
    }
    .detailsImageProduct {
        width: 100%;
    }
    .productViewSiderbar {
        width: 100%;
        text-align: center;
        background-color: #fff;
        position: relative;
    }
    .hideScrollbar {
        justify-content: center;
    }
    .Wrapper,
    .Wrapper img {
        height: 40px;
        width: 40px;
    }
    .sizeProduct {
        justify-content: center;
    }
    .size {

        padding: 8px;
        font-size: 16px;
        font-weight: 400;
        width: 28px;
        height: 25px;
    }

    .changeProduct {
        display: none;
    }
    .priceProductsmall {
        display: inline-block;
        text-align: center;
    }
    .priceProduct {
        display: none;
    }
    .pricesmall {
        font-size: 20px;
    }
    .productViewSiderbar p {
        font-size: 16px;
    }
    .productViewSiderbar .star {

        font-size: 15px;
    }

    .userLink {
        font-size: 16px;
        text-decoration: none;
    }

    .hideScrollbar {

        padding-top: 10px;
    }
    .deliverysmall {
        font-size: 10px!important;
        color: #737373;
    }
    .shareAndFavorite {
        width: 100%;
        display: flex;
        justify-content: space-between!important;
    }
    .addToFavorite {

        padding-left: 20%;
        padding-right: 5px;
    }
    .sharing {
        padding-right: 20%;
        padding-left: 5px;
    }
    .productDetails {
        flex-wrap: wrap;
    }
    .productTypeInfoBox {
        width: 100%;
    }
    .detailsBox {
        width: 100%;
    }
}


@media (max-width: 400px) {
    .wrapperRealatedProduct {
        display: none;
    }
    .detailsImage {
        display: none;
    }
    .productView {
        display: flex;
        flex-direction: column;
    }
    .detailsImageProduct {
        width: 100%;
    }
    .productViewSiderbar {
        width: 100%;
        text-align: center;
        background-color: #fff;
        position: relative;
    }
    .hideScrollbar {
        justify-content: center;
    }
    .Wrapper,
    .Wrapper img {
        height: 40px;
        width: 40px;
    }
    .sizeProduct {
        justify-content: center;
    }
    .size {

        padding: 8px;
        font-size: 16px;
        font-weight: 400;
        width: 28px;
        height: 25px;
    }

    .changeProduct {
        display: none;
    }
    .priceProductsmall {
        display: inline-block;
        text-align: center;
    }
    .priceProduct {
        display: none;
    }
    .pricesmall {
        font-size: 20px;
    }
    .productViewSiderbar p {
        font-size: 16px;
    }
    .productViewSiderbar .star {

        font-size: 15px;
    }

    .userLink {
        font-size: 16px;
        text-decoration: none;
    }

    .hideScrollbar {

        padding-top: 10px;
    }
    .deliverysmall {
        font-size: 10px!important;
        color: #737373;
    }
    .shareAndFavorite {
        width: 100%;
        display: flex;
        justify-content: space-between!important;
    }
    .addToFavorite {

        padding-left: 20%;
        padding-right: 5px;
    }
    .sharing {
        padding-right: 20%;
        padding-left: 5px;
    }
    .productDetails {
        flex-wrap: wrap;
    }
    .productTypeInfoBox {
        width: 100%;
    }
    .detailsBox {
        width: 100%;
    }
}